{% extends 'layout.html'%}

{% block content %}
<h3 class="center-align red lighten-3" style="text-align: center;">{{order.title}}<h3>
<div class="card">
  <!-- <div class="card-content">
    {{order.body|linebreaksbr}}

  </div> -->

  <table class="table table-bordered" style="text-align:center;">
      <tr>
        <td style="min-width:150px">工单名称</td>
        <td>{{order.title}}</td>
      </tr>
      <tr>
        <td>工单编号</td>
        <td>{{order.orders_num}}</td>
      </tr>
      <tr>
        <td>加分分数</td>
        <td>{{order.pj_score}}</td>
      </tr>
      <tr>
        <td>工单类型</td>
        <td>{{order.orders_type}}</td>
      </tr>
      <tr>
        <td>工单完成时间</td>
        <td>{{order.deadline_at}}</td>
      </tr>
      <tr>
        <td>工单记录时间</td>
        <td>{{order.created_at}}</td>
      </tr>
      <tr>
        <td>工单完成</td>
        <td>  {% if order.is_finished %}
          <i class="fas fa-check-circle" style="color: Dodgerblue;"></i>
          {% else %}
          <i class="fas fa-window-close" style="color: red;"></i>

          {% endif %}</td>
      </tr>
      <tr>
        <td>未超时</td>
        <td>  {% if order.is_not_delayed %}
          <i class="fas fa-check-circle" style="color: Dodgerblue;"></i>
          {% else %}
          <i class="fas fa-window-close" style="color: red;"></i>

          {% endif %}</td>
      </tr>
      <td>完成人员1</td>
      <td>{{order.pj_leader}} 比例：{{order.workload_allot}}</td>
      <tr>
        <td>完成人员2</td>
        <td>{{order.pj_participant1}} 比例：{{order.workload_allot1}}</td>
        <tr>
          <td>完成人员3</td>
          <td>{{order.pj_participant2}}比例： {{order.workload_allot2}}</td>
          <tr>
            <td>完成人员4</td>
            <td>{{order.pj_participant3}}比例： {{order.workload_allot3}}</td>
            <tr>
        <td >备注</td>
        <td >  {{order.body|linebreaksbr}}</td>
      </tr>
  </table>


</div>
<br>

<a href="/orders" class = "btn btn-primary btn-lg">返回</a>
<br>

{% endblock %}
