{% load static %}


<!--第一步：引入Javascript / CSS （CDN）-->
<!-- DataTables CSS -->
<!-- <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'datatables/css/jquery.dataTables.css' %}">
<!-- jQuery -->
<!-- <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
<script type="text/javascript" charset="utf8" src="{% static 'welcom/js/jquery.min.js' %}"></script>

<!-- DataTables -->
<!-- <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script> -->
<script type="text/javascript" charset="utf8" src="{% static 'datatables/js/jquery.dataTables.js' %}"></script>



<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>分组网人力考核系统</title>
</head>
<section class="breadcrumbs">
  <div class="container">
    <div class="text-left breadcrumbs-item">
      <h1>分组网人力考核系统</h1>
    </div>
  </div>
</section>

<body>
  <header class="container center-align">



  </header>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Custom -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Lightbox -->
  <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'welcom/css/main.css' %}">


  <!-- Top Bar -->
  {% include 'partials/_topbar.html' %}

  <!-- NavBar -->
  {% include 'partials/_navbar.html' %}




  <div class="container">
    <br>
    <div class="container">


      <div class="text-center breadcrumbs-item">
        <h3>2020年第一季度绩效排名情况</h3>
      </div>
    </div>

    {% comment %} <table id="table_id1" class="display"> {% endcomment %}
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col" style="width:100px">季度</th>
          <th scope="col" style="width:100px">姓名</th>
          <th scope="col" style="width:100px">民主测评</th>
          <th scope="col" style="width:100px">工作绩效</th>
          <th scope="col" style="width:100px">总分排名</th>
        </tr>
      </thead>
      <tbody>
        {% comment %} {% for season in season4 %}

        <tr>
          <th scope="row">2019年第一季度</th>
          
          <td>{{season.id}}</td>
          <td>{{season.s4}}</td>

        </tr>
        {% endfor %} {% endcomment %}
        {% comment %} {{jixiao.0.0}}{{jixiao.0.1.0}}{{jixiao.0.1.1}}
        {{jixiao.1.0}}{{jixiao.1.1.0}}{{jixiao.1.1.1}} {% endcomment %}

{% comment %} {% for item in jixiao %}
  {{item.0}}{{item.1.0}}{{item.1.1}}
 {% endfor %} {% endcomment %}
        {% for item in jixiao %}

        <tr>
          <th scope="row">2020年第一季度</th>
          
          <td>{{item.0}}</td>

          <td>{{item.1.0}}</td>
          <td>{{item.1.1}}</td>
          <td>{{item.1.2}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br><br>


    <div class="container">
      <div class="text-center breadcrumbs-item">
        <h3>2020年全年人员考核记录</h3>
      </div>
    </div>
    <div class="container">

      <br>
      <table id="table_id" class="display">
        <thead>
          <tr>

            <th>月份</th>
            <th>姓名</th>
            <th>工单分数</th>
            <th>割接分数</th>
            <th>项目分数</th>
            <th>特殊加分</th>
            <th>日常工作</th>
            <th>故障处理</th>
            <th>当月总分</th>
          </tr>
        </thead>
        <tbody>
          <tr>

            {% for key, value in sumScores.items %}
            <td>{{value.sum_month}}</td>
            <td>{{value.sum_name}}</td>
            <td>{{value.sum_orders}}</td>
            <td>{{value.sum_cutovers}}</td>
            <td>{{value.sum_posts}}</td>
            <td>{{value.sum_bonuses}}</td>
            <td>{{value.sum_routine}}</td>
            <td>{{value.sum_faulty}}</td>
            <td>{{value.sum_all}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <br>      <br>
      <div class="alert alert-light" role="alert">

        <h4>加分标准:</h4>

        <p>
          工单1分，割接3分（按次），项目10分起，最多25分（完成需超一个月，月初立项，立项后填报），
          例行日常工作（报表，备份，分析，维保，季度台帐更新）每个1分，故障投诉1到2分，
          特殊加分（主管调整）。
        </p>
        <h4>绩效规则:</h4>
  <p>

  设立公司的整体绩效基准分（可以是全体员工绩效考核的平均数），对各部门的考核均值和员工的考核得分进行部门差异调整。
    <br>具体如下：设公司整体绩效基准分为A，如员工绩效考核实际得分为B，该员工所在部门绩效考核平均分为C.则部门差异分及为D=C-A，根据部门差异调整员工绩效考核得分为B1=B-D，员工绩效考核系数可以相应的定为B2= B1/A.这种调整方法是假定部门绩效均维持在一致的水平上，使部门间绩效相尽的员工考核得分接近，而部门内部则仍保持原由的业绩差异结构。
　　<br><br>
    示例：某员工甲，绩效考核得分为90分，部门考核平均分为80分，公司基准分为75分，则该员工调整后得分为B1=B-D=B-（C-A）=90-（80-75）=85分。其绩效考核系数可确定为B2= B1/A=85/75=1.13
　　<br>与甲同部门的员工乙，绩效考核得分为80分，则调整后考核得分为：B1=80-（80-75）=75分，其绩效考核系数为B2= B1/A=75/75=1
　　与甲不同部门的但业绩相近的员工丙，由于部门经理对考核标准把握比较严格，绩效考核得分为80分，其所在部门的平均分为70分，则调整后考核得分为：B1=80-（70-75）=85分，其绩效考核系数为B2=B1/A=85/75=1.13
  </p>
  <p>

  </p>
      </div>
    </div>

  </div>

</body>

</html>


<script>
  $(document).ready(function() {
    $('#table_id').DataTable();
  });

    $(document).ready(function() {
    $('#table_id1').DataTable();
  });
</script>


<br>
<!-- Footer -->
{% include 'partials/_footer.html' %}

<script src="{% static 'js/lightbox.min.js' %} "></script>
<script src="{% static 'js/main.js' %} "></script>
