{% extends 'layout.html'%}

{% block content %}
<h3 class="center-align red lighten-3" style="text-align: center;">{{bonus.title}}<h3>
<div class="card">
  <table class="table table-bordered" style="text-align:center;">
      <tr>
        <td style="min-width:150px">特殊加分项名称</td>
        <td>{{bonus.title}}</td>
      </tr>
      <tr>
        <td>分数</td>
        <td>{{bonus.pj_score}}</td>
      </tr>
      <tr>
        <td>未在别处加分</td>
        <td>
          {% if bonus.is_not_delayed %}
          <i class="fas fa-check-circle" style="color: Dodgerblue;"></i>
          {% else %}
          <i class="fas fa-window-close" style="color: red;"></i>

          {% endif %}
        </td>
      </tr>
      <tr>
        <td>开始日期</td>
        <td>{{bonus.created_at}}</td>
      </tr>
      <td>完成人员1</td>
      <td>{{bonus.pj_leader}} 比例：{% widthratio bonus.workload_allot 1 100%}%</td>
      <tr>
        <td>完成人员2</td>
        <td>{{bonus.pj_participant1}} 比例：{% widthratio bonus.workload_allot1 1 100%}%</td>
        <tr>
          <td>完成人员3</td>
          <td>{{bonus.pj_participant2}}比例： {% widthratio bonus.workload_allot2 1 100 %}%</td>
          <tr>
            <td>完成人员4</td>
            <td>{{bonus.pj_participant3}}比例： {% widthratio bonus.workload_allot3 1 100 %}%</td>
            <tr>
        <td  >备注</td>
        <td style="text-align:left;">  {{bonus.body|linebreaksbr}}</td>
      </tr>
  </table>

</div>


<br>
<a href="/bonuses" class = "btn btn-primary btn-lg">返回</a>
<br>
{% endblock %}
