{% extends 'layout.html'%}

{% block content %}
<h3 class="center-align red lighten-3" style="text-align: center;">{{cutover.title}}<h3>
<div class="card">
  <div class="card-content">


  </div>
<table class="table table-bordered" style="text-align:center;">
    <tr>
      <td>割接名称</td>
      <td>{{cutover.title}}</td>
    </tr>
    <tr>
      <td>割接工单号</td>
      <td>{{cutover.cutover_num}}</td>
    </tr>
    <tr>
      <td>割接负责人</td>
      <td>{{cutover.pj_leader}}</td>
    </tr>
    <td>割接时间</td>
    <td>{{cutover.deadline_at}}</td>
    <tr>
      <td>备注</td>
      <td>  {{cutover.body|linebreaksbr}}</td>
    </tr>
</table>

</div>
<br>
<a href="/cutovers" class = "btn btn-primary btn-lg">返回</a>
<br>
{% endblock %}
